In [0]:
!pip install quandl

In [0]:
import quandl

In [3]:
aapl = quandl.get('WIKI/AAPL', start_date='2012-10-01', end_date='2017-01-01')# use collapse = monthly to get monthly data
type(aapl)

pandas.core.frame.DataFrame

In [5]:
aapl_np = quandl.get('WIKI/AAPL', start_date='2012-10-01', end_date='2017-01-01', returns='numpy')
type(aapl_np)

numpy.recarray

In [6]:
aapl.head()

              Open    High     Low  ...   Adj. Low  Adj. Close  Adj. Volume
Date                                ...
2012-10-01  671.50  676.75  656.50  ...  84.729587   85.102578  135898700.0
2012-10-02  661.81  666.35  650.65  ...  83.974571   85.350378  156998100.0
2012-10-03  664.86  671.86  662.63  ...  85.520741   86.659073  106070300.0
2012-10-04  671.25  674.25  665.55  ...  85.897604   86.058932   92681400.0
2012-10-05  665.20  666.00  651.28  ...  84.055880   84.224952  148501500.0

[5 rows x 12 columns]